.error, .nearest-store {
  display: flex;
  justify-content: center;
  font-weight: 600;
  font-size: 16px;
  color: #ff0000;
  margin-bottom: 10px;
}

.nearest-store {
  color: #2eb72e;
}

.leaflet-container {
  flex: 1;
}

.absolute {
  position: absolute;
  z-index: 1000;
}

.icon-button {
  width: 32px;
  height: 32px;
  border: 1px solid #333333;
}

.top-right {
  top: 12px;
  right: 12px;
}
